@import "var";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    height: 100%;
}

.center {
    margin-left: calc(50% - 580px);
    margin-right: calc(50% - 580px);
}

.header {
    background-color: $darkColor;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__link {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        box-sizing: border-box;

        &:hover {
            border-bottom: 1px solid #FFFFFF;
            padding: 7px 0 7px;
        }
    }

    &__item {
        height: 30px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            padding-right: 21px;
            border-right: 1px solid #494949;
        }

        &:not(:first-child) {
            padding-left: 22px;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;

    img {
        position: relative;
        margin-top: 20px;
    }

    svg {
        display: block;
        margin: 50px auto;
    }

    .block_header {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #2F3132;
    }

    .absolute {
        position: absolute;
        z-index: 2;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .block_content {
        background-color: #E0E1E2;
        padding-bottom: 80px;
        box-sizing: border-box;
    }

    .content_text {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #2F3132;
        margin-top: 8px;
    }

    .mod_width {
        max-width: 761px;
        margin: 0 auto;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background-color: $darkColor;

    p {
        font-size: 14px;
        line-height: 16px;
        color: #C7C8C8;
    }
}