@import "var";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto;
}

.center {
    margin-left: calc(50% - 580px);
    margin-right: calc(50% - 580px);
}

.header {
    background-color: $darkColor;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__link {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        box-sizing: border-box;

        &:hover {
            border-bottom: 1px solid #FFFFFF;
            padding: 7px 0 7px;
        }
    }

    &__item {
        height: 30px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            padding-right: 21px;
            border-right: 1px solid #494949;
        }

        &:not(:first-child) {
            padding-left: 22px;
        }
    }
}